<div>

<div class = "fonts">

<div class="form-group">
    <div class = "location">
      <center><label for="location">Almost Done!</label></center>
    </div>
    </div>

    <div class = "review">
      <p> Please review and confirm your appointment details </p>
    </div>

    <div class="row">
    <div class="form-group">
     <!-- margin-left: 375px; -->
     
      	<div class = "details text-center">
      		<label>Location:</label>
            <label class="label-value">location</label>
      		<!-- <label class="right-headers-data" style="">{{eventdetails.event}}</label> -->
      	</div>

      	<div class = "details text-center">
      		<label>Service Type:</label>
            <label class="label-value">service type</label>
      		<!-- <label class="right-headers-data" style="">{{eventdetails.event}}</label> -->
      	</div>

      	<div class = "details text-center">
      		<label>Date:</label>
            <label class="label-value">Date</label>
      		<!-- <label class="right-headers-data" style="">{{eventdetails.event}}</label> -->
      	</div>

      	<div class = "details text-center">
      		<label>Time:</label>
            <label class="label-value">time</label>
      		<!-- <label class="right-headers-data" style="">{{eventdetails.event}}</label> -->
      	</div>


     </div>
    </div>

    <div class="col-sm-offset-3 col-sm-2" >
<!-- <input type="button" class="btn btn" Value="BACK">   class = "btn btn-block btn-default" -->
       <a ui-sref="form.schedule" class="btn btn-block btn-default back-btn" >
        BACK  
        </a>
        </div>
   
 
<div class="col-sm-4">
<!-- <input type="button" class="btn btn-primary" Value="confirm">
 -->
 <a ui-sref="login" class="btn btn-block btn-default next-btn">
      CONFIRM 
      </a>

 
  </div>

  </div>
</div>
