<div class = "container-login text-center">
	
<div class = "col-xs-10 col-sm-6 marg-auto">
<div class="col-sm-10">
<div class = "location">
      <center><label for="location">Sign in to your account</label></center>
    </div>
    <div class = "review">
      <p>You'll be able to checkout faster</p>
    </div>

	<div class = "form-group container-login">
		<input type="text" class="form-control" name="username" placeholder="Email Address">
	</div>
	<div class = "form-group">
		<input type="password" class="form-control" name="password" placeholder="Password">
	</div>
	<a ui-sref="success" class="btn btn-block btn-default next-btn">
      LOGIN  
      </a>
      <br> <br>
      <a href="#">Forgot Password?</a>
		</div>

</div>



		<div class = "col-xs-10 col-sm-6">
        <div class="col-sm-10">
        <div class = "location">
      <center><label for="location">Continue without signing in</label></center>
    </div>
    <div class = "review-2">
          You will have the option to register for an account after booking your appointment.
        
			<br>
            <br>
            <br>
			<span>You can also <a href = "#">register for an account</a> now.</span>
			<br>
            
            </div>
			<a ui-sref="guestlogin" class="btn btn-block btn-default continue-btn marg-60">
		      CONTINUE AS A GUEST 
		      </a>
		   
  		 </div>
	</div>	
    </div>
