<!-- <div class="container-fluid">
<div class="well"> -->

<div>
<ul class="nav nav-pills ">
    <li class="active"><a data-toggle="pill" href="home">March 12-18, 2017</a></li>
    <li><a data-toggle="pill" href="menu1">March 19-25, 2017</a></li>
    <li><a data-toggle="pill" href="menu2">March 26-April 01, 2017</a></li>
  </ul>
</div>
 <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <!--<h3>HOME</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>-->
    </div>
    <div id="menu1" class="tab-pane fade">
      <!--<h3>Menu 1</h3>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>-->
    </div>
    <div id="menu2" class="tab-pane fade">
      <!--<h3>Menu 2</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>-->
    </div>


  
<div class="row seven-cols">
<div class="col-sm-1">
<h4><b>Sunday<br><h5>March 12</h5></b></h4>
</div>
<div class="col-sm-1">
 <h4><b>Monday<br><h5>March 13</h5></b></h4>
</div>
<div class="col-sm-1">
<h4><b>Tuesday<br><h5>March 14</h5></b></h4>
</div>
<div class="col-sm-1">
<h4><b>Wednesday<br><h5>March 15</h5></b></h4>
</div>
<div class="col-sm-1">
<h4><b>Thursday<br><h5>March 16</h5></b></h4>
</div>
<div class="col-sm-1">
<h4><b>Friday<br><h5>March 17</h5></b></h4>
</div>
<div class="col-sm-1">
<h4><b>Saturday<br><h5>March 18</h5></b></h4>
</div>
</div>
<hr style="margin-top:10px;margin-bottom: 10px">

<div class="row seven-cols timeslot-btn">
<div class="col-sm-1">
<input type="button" class="btn Available-btn" value="8 AM - 11 AM">
</div>
<div class="col-sm-1">
  <input type="button" class="btn Available-btn" value="8 AM - 11 AM">
</div>
<div class="col-sm-1">
<input type="button" class="btn Booked-btn" value="8 AM - 11 AM">
</div>
<div class="col-sm-1">
<input type="button" class="btn Booked-btn" value="8 AM - 11 AM">
</div>
<div class="col-sm-1">
<input type="button" class="btn Booked-btn" value="8 AM - 11 AM">
</div>
<div class="col-sm-1">
<input type="button" class="btn Booked-btn" value="8 AM - 11 AM">
</div>
<div class="col-sm-1">
<input type="button" class="btn Booked-btn" value="8 AM - 11 AM">
</div>
</div>
<div class="row seven-cols timeslot-btn">
<div class="col-sm-1">
<input type="button" class="btn Available-btn" value="11 AM - 2 PM">
</div>
<div class="col-sm-1">
  <input type="button" class="btn Available-btn" value="11 AM - 2 PM">
</div>
<div class="col-sm-1">
<input type="button" class="btn Booked-btn" value="11 AM - 2 PM">
</div>
<div class="col-sm-1">
  <input type="button" class="btn Selected-btn" value="11 AM - 2 PM">
</div>
<div class="col-sm-1">
  <input type="button" class="btn Selected-btn" value="11 AM - 2 PM">
</div>
<div class="col-sm-1">
  <input type="button" class="btn Available-btn" value="11 AM - 2 PM">
</div>
<div class="col-sm-1">
  <input type="button" class="btn Available-btn" value="11 AM - 2 PM">
</div>
</div>
<div class="row seven-cols timeslot-btn">
<div class="col-sm-1">
<input type="button" class="btn Available-btn" value="02 PM - 5 PM">
</div>
<div class="col-sm-1">
  <input type="button" class="btn Available-btn" value="02 PM - 5 PM">
</div>
<div class="col-sm-1">
<input type="button" class="btn Booked-btn" value="02 PM - 5 PM">
</div>
<div class="col-sm-1">
  <input type="button" class="btn notavilable-btn" value="02 PM - 5 PM">
</div>
<div class="col-sm-1">
<input type="button" class="btn notavilable-btn" value="02 PM - 5 PM">
</div>
<div class="col-sm-1">
  <input type="button" class="btn notavilable-btn" value="02 PM - 5 PM">
</div>
<div class="col-sm-1">
<input type="button" class="btn Booked-btn" value="02 PM - 5 PM">
</div>
  </div>
  </div> 

<div class="col-sm-offset-3 col-sm-2">
<!-- <input type="button" class="btn btn" Value="BACK"> -->
<a ui-sref="form.reasons" class="btn btn-block btn-default back-btn" >
    BACK  
    </a>
</div>
<div class="col-sm-4">
<!-- <input type="button" class="btn btn-primary" Value="NEXT"> -->
<a ui-sref="form.confirmDetails" class="btn btn-block btn-default next-btn">
    NEXT
    </a>
</div>
