<!-- Original Code -->

<!-- <div style="background-color: white">
	<p><span class="glyphicon glyphicon-ok-sign" style="color:#7CD800; font-size: 75px"></span></p>

	<label for="success" style="font-size: 23px; font-size: 20px; margin-left: 39%;">Appointment Confirmation!</label> <br/><br/><br/>

	<p style="font-size: 24px; font-style: italic; color:#7C7C7C;"> Thanks for Booking your Appointment!</p>

	<p style="color:#7C7C7C; font-size:24px;"> Appointment details will be send to your <br/>email address your@email.com </p> <br/>

	<div class="line-margin" style="margin-left: 43%; border-color: #7C7C7C; margin-bottom: 18px;"></div>

	<label style="font-size: 18px; margin-left:39%; margin-bottom: 0%"> Any question? call (123)456-7890</label> <br/><br/>

	<a ui-sref="form.location" style="margin-left: 45%;"> Book a New Appointment </a><br/><br/>

</div>
 -->

<!-- Changes made by Srilakshmi -->

<div class="panel-body" style="background-color: white;display: block;">
	<br/> 
    <center><img class = "img-circle" /></center>
    <br/>

	<label for="success" style = "font-family: verdana;color:#222222;font-size: 2vw;font-weight:600; margin-left: 35%;">Appointment Confirmation!</label> 

	<p style = "font-size: 1.5vw; font-style: italic; color:#7c7c7c;margin-left: 1%;"> Thanks for choosing 24/7 TeleClinic!</p>

	<p style = "color:#7C7C7C; font-size:1.5vw;margin-left: 2%;"> Appointment details will be send to your <br/>email address your@email.com </p> <br/> 

	<center><div class="line-margin" style = " border-color: #7C7C7C; margin-bottom: 18px;"></div></center>

	<!-- <div class="line-margin" style = "margin-left: 42%;border-color: #7C7C7C;"></div> -->

	<label style = "font-size: 1.5vw;font-weight:600;font-family: verdana;color:#222222; margin-left:35%;margin-right:30%; margin-bottom: 0%"> For any questions call (123)456-7890</label> <br/>

	<a ui-sref="form.location" style = "font-size:1.2vw;color:#0006ff;margin-left: 42%;"> Book a New Appointment </a><br/><br/>

</div>
