
<button class = "btn btn-primary btn-lg" ng-click ="category()">Back</button>
<div class="container">
    <!--data-ng-controller="addNewsController"-->
    <section class="app-body">
        <form class="todo-form">
            <!--data-ng-submit="addNews()"-->
            <ul class="unstyled">
                <li data-ng-repeat="news in newsItem track by $index">
                    <input type="checkbox" data-ng-model="news.done">
                    <span class="done-{{ news.done }}">{{ news.headline }}</span>
                </li>
            </ul>

            <label>Headline</label>
            <input type="text" data-ng-model = "headline" required>

            <label>Date</label>
            <input type = "date"data-ng-model = "date">

            <label>Description</label>
            <input type="text" data-ng-model="newsText" placeholder="Enter Description" />

            <label>Reporter</label>
            <input type="text" data-ng-model = "reporter">

            <br />
            <input ng-click = "addNews()" value="Add News" />

            <button class="btn btn-primary btn-lg" ng-click="takePhoto()">
                Take Photo
            </button>
            <button class="btn btn-primary btn-lg" ng-click="choosePhoto()">
                Choose Photo
            </button>

            <img ng-show="imgURI !== undefined" ng-src="{{imgURI}}" style="text-align: center">
        </form>
    </section>
    <!--<div ng-controller="cameraCtrl">-->
        <!--<button class="btn btn-primary btn-lg" ng-click="takePhoto()">-->
            <!--Take Photo-->
        <!--</button>-->
        <!--<button class="btn btn-primary btn-lg" ng-click="choosePhoto()">-->
            <!--Choose Photo-->
        <!--</button>-->

        <!--<img ng-show="imgURI !== undefined" ng-src="{{imgURI}}" style="text-align: center">-->
    <!--</div>-->

    <div ng-controller="captureCtrl">
        <button class="btn btn-primary btn-lg" ng-click="captureAudio()">
            Capture Audio
        </button>
        <button class="btn btn-primary btn-lg" ng-click="captureVideo()">
            Capture Video
        </button>
    </div>

</div>