<div class="container">

<div class = "fonts">

<div class="form-group">
    <div class = "location">
      <center><label for="location">Almost Done!</label></center>
    </div>
    </div>

    <div class = "review">
      <p> Please review and confirm your appointment details </p>
    </div>

    <div class="row">
    <div class="form-group">
     <!-- margin-left: 375px; -->
     
      	<div class = "details">
      		<label>Location:</label>
      		<!-- <label class="right-headers-data" style="">{{eventdetails.event}}</label> -->
      	</div>

      	<div class = "details">
      		<label>Service Type:</label>
      		<!-- <label class="right-headers-data" style="">{{eventdetails.event}}</label> -->
      	</div>

      	<div class = "details">
      		<label>Date:</label>
      		<!-- <label class="right-headers-data" style="">{{eventdetails.event}}</label> -->
      	</div>

      	<div class = "details">
      		<label>Time:</label>
      		<!-- <label class="right-headers-data" style="">{{eventdetails.event}}</label> -->
      	</div>


     </div>
    </div>

    <div class="col-sm-offset-4 col-sm-2" style="margin-left: 18%">
<!-- <input type="button" class="btn btn" Value="BACK">   class = "btn btn-block btn-default" -->
        <button class = "buttonBack"><a ui-sref="form.schedule">
        <span class="glyphicon glyphicon-arrow-left"></span> BACK  
        </a>
        </button>   </div>
   
 
<div class="col-sm-4">
<!-- <input type="button" class="btn btn-primary" Value="confirm">
 -->
    <button class = "buttonNext"><a ui-sref="login">
      CONFIRM  <span class="glyphicon glyphicon-arrow-right"></span>
      </a>
    </button>
 
  </div>

  </div>
</div>
