<div class="container" style="margin-bottom: 0%">
<center><p>Make an appointment with licensed healthcare professional for a </br>variety of services and screenings</p></center>
</div>

	 <div class="form-group">
    <center><label for="location" style="font-size: 28px;"><div class="required">Enter Your Location</div></label></center>

    </div>
   
   <div class="row">
    <div class="form-group">
    <div class=" col-sm-offset-4 col-sm-4">
    <center> <input type="text" align="top" id="location" class="form-control" placeholder="Enter Your Area Name........" name="name" ng-model="formData.name" style="font-size: 20px;"></center>
    </div>
    </div>
    </div>

    <div class="form-group">
    </div>
<div class="row">
<div class="form-group">
<div class="col-sm-offset-4 col-sm-4">
    <a ui-sref="form.reasons" class="btn btn-block btn-default" style="width: 145px;font-size: 23px;
    margin-left: 80px;">
    NEXT  <span class="glyphicon glyphicon-arrow-right"></span>
    </a>
</div>
</div>
</div>