<p>Make an appointment with licensed healthcare professional for a <br/> variety of services and screenings</p>

<div class="form-group">

	<label for="reasons"><div class="required">Reason for Visit</div></label> <br/>
<select class="form-control" id="sel1">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select> <br>

<!--    <ul class="pager">
    <li><a href="#">Previous</a></li>
    <li><a href="#">Next</a></li>
 	 </ul> -->

<div class="row">
<div class="form-group">
<div class="col-sm-offset-4 col-sm-2">

   <a ui-sref="form.location" class="btn btn-block btn-default" style="width: 145px;font-size: 23px;
    margin-left: 50px;">
    <span class="glyphicon glyphicon-arrow-left"></span> BACK  
    </a>
</div>
<div class="col-sm-4">

   <a ui-sref="form.schedule" class="btn btn-block btn-default" style="width: 145px;font-size: 23px;
    margin-left: 50px;">
    NEXT  <span class="glyphicon glyphicon-arrow-right"></span>
    </a>
</div>
</div>
</div>
     <!--  <select name="singleSelect" id="singleSelect" ng-model="data.singleSelect">
      <option value=""> Please select </option> 
      <option value="{{data.option1}}">Option 1</option> 
      <option value="option-2">Option 2</option>
    </select><br>-->

</div>