<div class="container-fluid">
<div class="well">
<div class="row seven-cols">
<div class="col-sm-1">
<h4><b>Sunday<br><h5>March 12</h5></b></h4>
</div>
<div class="col-sm-1">
 <h4><b>Monday<br><h5>March 13</h5></b></h4>
</div>
<div class="col-sm-1">
<h4><b>Tuesday<br><h5>March 14</h5></b></h4>
</div>
<div class="col-sm-1">
<h4><b>Wednesday<br><h5>March 15</h5></b></h4>
</div>
<div class="col-sm-1">
<h4><b>Thursday<br><h5>March 16</h5></b></h4>
</div>
<div class="col-sm-1">
<h4><b>Friday<br><h5>March 17</h5></b></h4>
</div>
<div class="col-sm-1">
<h4><b>Saturday<br><h5>March 18</h5></b></h4>
</div>
</div>
<hr>

<div class="row seven-cols">
<div class="col-sm-1">
<input type="button" class="btn btn-primary" value="8 AM - 11 AM">
</div>
<div class="col-sm-1">
  <input type="button" class="btn btn-primary" value="8 AM - 11 AM">
</div>
<div class="col-sm-1">
<input type="button" class="btn btn-success" value="8 AM - 11 AM">
</div>
<div class="col-sm-1">
<input type="button" class="btn btn-success" value="8 AM - 11 AM">
</div>
<div class="col-sm-1">
<input type="button" class="btn btn-success" value="8 AM - 11 AM">
</div>
<div class="col-sm-1">
<input type="button" class="btn btn-success" value="8 AM - 11 AM">
</div>
<div class="col-sm-1">
<input type="button" class="btn btn-success" value="8 AM - 11 AM">
</div>
</div>
<div class="row seven-cols">
<div class="col-sm-1">
<input type="button" class="btn btn-primary" value="11 AM - 2 PM">
</div>
<div class="col-sm-1">
  <input type="button" class="btn btn-primary" value="11 AM - 2 PM">
</div>
<div class="col-sm-1">
<input type="button" class="btn btn-success" value="11 AM - 2 PM">
</div>
<div class="col-sm-1">
  <input type="button" class="btn btn-primary" value="11 AM - 2 PM">
</div>
<div class="col-sm-1">
  <input type="button" class="btn btn-primary" value="11 AM - 2 PM">
</div>
<div class="col-sm-1">
  <input type="button" class="btn btn-primary" value="11 AM - 2 PM">
</div>
<div class="col-sm-1">
  <input type="button" class="btn btn-primary" value="11 AM - 2 PM">
</div>
</div>
<div class="row seven-cols">
<div class="col-sm-1">
<input type="button" class="btn btn-primary" value="02 PM - 5 PM">
</div>
<div class="col-sm-1">
  <input type="button" class="btn btn-primary" value="02 PM - 5 PM">
</div>
<div class="col-sm-1">
<input type="button" class="btn btn-success" value="02 PM - 5 PM">
</div>
<div class="col-sm-1">
  <input type="button" class="btn" value="02 PM - 5 PM">
</div>
<div class="col-sm-1">
<input type="button" class="btn" value="02 PM - 5 PM">
</div>
<div class="col-sm-1">
  <input type="button" class="btn" value="02 PM - 5 PM">
</div>
<div class="col-sm-1">
<input type="button" class="btn btn-success" value="02 PM - 5 PM">
</div>

<hr> <br/><br/><br/><br/>
<div class="col-sm-offset-4 col-sm-2">
<!-- <input type="button" class="btn btn" Value="BACK"> -->
<a ui-sref="form.reasons" class="btn btn-block btn-default" style="width: 145px;font-size: 23px;
    margin-left: 40px; margin-bottom: 20px">
    <span class="glyphicon glyphicon-arrow-left"></span> BACK  
    </a>
</div>
<div class="col-sm-4">
<!-- <input type="button" class="btn btn-primary" Value="NEXT"> -->
<a ui-sref="form.confirmDetails" class="btn btn-block btn-default" style="width: 145px;font-size: 23px;
    margin-left: 50px;">
    NEXT  <span class="glyphicon glyphicon-arrow-right"></span>
    </a>
</div>
</div>
</div>
</div>