<div class="w3-container">
<center><p>Make an appointment with a licensed healthcare professional for a </br>variety of services and screenings</p></center>
</div>

	 <div>
    <center><label for="location" class="label-marg-45"><div class="required">Select Your Location</div></label></center>

    </div>
   
   <div class="row">
    <div class="form-group">
    <div class="col-sm-offset-4 col-sm-4 container-fluid"> 
	<center for="location">	<select class="form-control" ng-options="state.name for state in states | orderBy: 'name.toString()'" ng-model="data.searchTextSelected">      
        <option value = "" label= "Please select"></option></select>
		</center>
    </div>
    </div>
    </div>

    <div class="form-group">
    <br>
    </div>
<div class="row">
<div class="form-group">
<div class="col-sm-offset-4 col-sm-4">
    <a ng-click="toFormReasons()" data-ng-class="{'disabled': !data.searchTextSelected}" ui-sref="form.reasons" class="btn btn-block next-btn frst-next" >
    NEXT 
    </a>
</div>
</div>
</div>