<div class="container">

<div class="form-group">
    <center><label for="location" style="font-size: 28px;">Almost Done!</label></center>
    </div>

    <p> Please review and confirm your appointment details </p>

    <div class="row">
    <div class="form-group" style="margin-left: 375px;">
     
     
      	<div>
      		<label class="right-headers">Location:</label>
      		<!-- <label class="right-headers-data" style="">{{eventdetails.event}}</label> -->
      	</div>

      	<div>
      		<label class="right-headers">Service Type:</label>
      		<!-- <label class="right-headers-data" style="">{{eventdetails.event}}</label> -->
      	</div>

      	<div>
      		<label class="right-headers">Date:</label>
      		<!-- <label class="right-headers-data" style="">{{eventdetails.event}}</label> -->
      	</div>

      	<div>
      		<label class="right-headers">Time:</label>
      		<!-- <label class="right-headers-data" style="">{{eventdetails.event}}</label> -->
      	</div>


     </div>
    </div>

    <div class="col-sm-offset-4 col-sm-2" style="margin-left: 18%">
<!-- <input type="button" class="btn btn" Value="BACK"> -->
<a ui-sref="form.schedule" class="btn btn-block btn-default" style="width: 145px;font-size: 23px;
    margin-left: 50px; margin-bottom: 20px">
    <span class="glyphicon glyphicon-arrow-left"></span> BACK  
    </a>
</div>
<div class="col-sm-4">
<!-- <input type="button" class="btn btn-primary" Value="confirm">
 -->
 <a ui-sref="success" class="btn btn-block btn-default" style="width: 175px;font-size: 23px;
    margin-left: 50px;">
    CONFIRM  <span class="glyphicon glyphicon-arrow-right"></span>
    </a>
    </div>
    </div>

</div>
