<div style="background-color: white">
	<p><span class="glyphicon glyphicon-ok-sign" style="color:#7CD800; font-size: 75px"></span></p>

	<label for="success" style="font-size: 23px; font-size: 20px; margin-left: 39%;">Appointment Confirmation!</label> <br/><br/><br/>

	<p style="font-size: 24px; font-style: italic; color:#7C7C7C;"> Thanks for Booking your Appointment!</p>

	<p style="color:#7C7C7C; font-size:24px;"> Appointment details will be send to your <br/>email address your@email.com </p> <br/>

	<div class="line-margin" style="margin-left: 43%; border-color: #7C7C7C; margin-bottom: 18px;"></div>

	<label style="font-size: 18px; margin-left:39%; margin-bottom: 0%"> Any question? call (123)456-7890</label> <br/><br/>

	<a ui-sref="form.location" style="margin-left: 45%;"> Book a New Appointment </a><br/><br/>

</div>
