<!-- Original Code -->

<!-- <div style="background-color: white">
	<p><span class="glyphicon glyphicon-ok-sign" style="color:#7CD800; font-size: 75px"></span></p>

	<label for="success" style="font-size: 23px; font-size: 20px; margin-left: 39%;">Appointment Confirmation!</label> <br/><br/><br/>

	<p style="font-size: 24px; font-style: italic; color:#7C7C7C;"> Thanks for Booking your Appointment!</p>

	<p style="color:#7C7C7C; font-size:24px;"> Appointment details will be send to your <br/>email address your@email.com </p> <br/>

	<div class="line-margin" style="margin-left: 43%; border-color: #7C7C7C; margin-bottom: 18px;"></div>

	<label style="font-size: 18px; margin-left:39%; margin-bottom: 0%"> Any question? call (123)456-7890</label> <br/><br/>

	<a ui-sref="form.location" style="margin-left: 45%;"> Book a New Appointment </a><br/><br/>

</div>
 -->

<!-- Changes made by Srilakshmi -->

<div class="alert alert-info" style = "background-color: yellow;">
  <!-- <strong>Info!</strong> --><center><!--<span class="glyphicon glyphicon-info-sign"></span>--><img src="../images/ico_info.png" />  You have requested an appointment for <b>{{ reasonType }}</b> on <b>{{ selectedDate | date: medium}}</b> at <b>{{ selectedSlot }} </b> </center>
</div>

<div class="panel-body" ng-controller="SigninCtrl">
	<br/> 
    <center><img class ="img-circle" /></center>
    <br/>

	<center><label for="success" class="success-hed text-center">Appointment Confirmation!</label> 

	<p class="success-sub-hed-italic"> Thanks for choosing 24/7 TeleClinic!</p>

	<p class="success-sub-hed" ng-model="email"> Appointment details will be sent to your <br/>email address <a>{{email}} </a></p> <br/> 

	<center><div class="line-margin" ></div></center>

	<!-- <div class="line-margin" style = "margin-left: 42%;border-color: #7C7C7C;"></div> -->

	<label class="success-hed"> For any questions call (+91) 91480-11111</label> <br/>

	<a ui-sref="form.location" class="hyperlink-style"> Book a New Appointment </a><br/><br/>
</center>
</div>
